 body {
    background-color: black;
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.landing-wrapper {
    max-width: 100%;
    overflow-x: hidden;
  }

  @media (max-width: 768px) {
    .features-section {
      max-width: 100%;
      overflow-x: hidden;
    }
    /* Asegúrate de que todos los elementos internos no tengan anchos fijos mayores a 100% */
  }
  